:root {
    --header-height: 150px;
    --footer-height: 150px;
} 
 
 /* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

a {
    color: inherit;
}

 /* UTILS */

.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 10px;
}

.wrapper {
    overflow: hidden;
    height: 100vh;
}

/* DEBUG  */

.debug {
    
}

/* HEADER */

.header {
    min-height: var(--header-height);
    background-color: black;
    color: white;
    text-align: end;
}

.header button {
    padding: 4px 10px;
    font-size: 1.4rem;
    color: white;
    background-color: #4a4a4a;
    border-radius: 10px;
    border: none;
    margin: 8px;
}

/* MAIN */

.main {
    background-color: #000000;

    /* debug */
    height: 800px;
}

.main .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
    overflow: scroll;
    height: calc(100vh - 300px);
}

.main .card {
    width: 300px;
    max-width: 400px;
    height: 200px;
    position: relative;
}

.main .info {
    color: white;
    font-size: 1.3rem;
    padding: 2px;
    background-color: #5a6a77;
    position:absolute;
    bottom: 1px;
    left: 0;
    opacity: 0.7;
}