:root {
    --header-height: 150px;
    --footer-height: 150px;
} 
 
 /* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

a {
    color: inherit;
}

 /* UTILS */

.container {
    max-width: 108px;
    margin: 0 auto;
    padding: 0 10px;
}

.wrapper {
    overflow: hidden;
}

/* DEBUG  */

.debug {
    
}

/* HEADER */

.header {
    min-height: var(--header-height);
    background-color: black;
}
